.breadcrumbs-container {
    margin-top: 130px;
    margin-left: 10px;
}
.breadcrumbs {
    max-width: 1200px;
    margin: 20px auto;
}

.breadcrumbs > * {
    display: inline-block;
    margin-right: 10px;
}

.breadcrumbs .crumb:after {
    content: '>';
    margin-left: 10px;
}

.breadcrumbs .crumb:last-child:after {
    display: none;
}

.crumb-link {
    color: var(--main-bg-color);
    text-decoration: none;
}
