.cart-container {
    max-width: 900px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.cart-text {
    text-align: center;
    color: var(--main-bg-color);
}

.products-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 920px) {
    .products-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .products-container {
        grid-template-columns: 1fr;
    }
}

.product {
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
}

.product:hover {
    transform: translateY(-5px);
}

.product-image {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.product-details {
    text-align: center;
}

.product h3 {
    margin: 5px 0;
    color: #333;
}

.product p {
    margin: 5px 0;
    color: #666;
}

.quantity-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.quantity-controls button {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
}

.quantity-controls button:hover {
    background-color: #0056b3;
}

.buy-button {
    display: block;
    margin: 10px auto;
    padding: 12px 24px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.buy-button:hover {
    background-color: #388e3c;
}

.cart-buy-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-buy-container h2{
    color: var(--main-bg-color);
    margin-top: 20px;
}
