.header-top {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-bg-color);
    padding: 10px 20px;
}
.header-bottom {
    position: fixed;
    width: 100%;
    top: 52px;
    z-index: 3;
    background-color: #7a8593;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 10px 20px;
    color: white;
}
.sub-menu {
    background-color: #ffffff;
    color: #333333;
    position: absolute;
    top: 40px;
    flex-direction: column;
    z-index: 4;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sub-menu li {
    padding: 10px;
    transition: background-color 0.3s ease;
}

.sub-menu li:hover {
    background-color: #f5f5f5;
}

.sub-menu-link {
    text-decoration: none;
    font-size: 16px;
    color: #333333;
}

.handle-mouse {
    margin-top: 1px;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 30px;
}
.navigation-link {
    font-size: 18px;
    text-decoration: none;
    color: white;
    padding-right: 25px;
}

.nav-links > li {
    border-right: 2px dashed white;
}
.nav-links > li:last-child {
    border-right: none;
}
.login-btn {
    background-color: #ed5584;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #fff;
    color: #ed5584;
}
.cart {
    margin-right: 20px;
    text-decoration: none;
}

.left-header-bottom {
    display: flex;
    justify-content: flex-start;
}

.title {
    color: white;
    cursor: pointer;
    font-size: 25px;
}

.shopping-basket, .wish-icon {
    cursor: pointer;
}
.link-cart, .link-wish {
    color: white;
}
.title-container {
    display: flex;
    justify-content: center;
}
@media (max-width: 660px) {
    .navigation-link {
        font-size: 15px;
    }
    .sub-menu-link {
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    .navigation-link {
        font-size: 12px;
        padding-right: 20px;
    }
    .sub-menu-link {
        font-size: 10px;
    }
    nav ul li {
        margin-right: 20px;
    }
    .title {
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    .navigation-link {
        padding-right: 15px;
    }
    nav ul li {
        margin-right: 15px;
    }
}
@media (max-width: 480px) {
    .navigation-link {
        font-size: 14px;
        padding-right: 10px;
    }
    .title {
        font-size: 18px;
    }
    .sub-menu {
        top: 28px;
    }
    .sub-menu-link {
        font-size: 12px;
    }
    nav ul li {
        margin-right: 10px;
    }
    .title {
        font-size: 15px;
    }
}

@media (max-width: 360px) {
    .header-bottom {
        padding: 10px 5px;
    }
    .header-top {
        padding: 10px 5px;
    }
    .cart {
        margin-right: 10px;
    }
}
