.filter-container {
    display: flex;
    justify-content: center;
    width: 800px;
}
@media (max-width: 880px) {
    .filter-container {
        width: 600px;
    }
}
.filter-form {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}
.discount {
    margin-right: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.discount b{
    margin-bottom: 5px;
}
.sort-select {
    display: flex;
}
