.item-container {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 80px;
    row-gap: 40px;
    max-width: 1400px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 20px;
    margin-bottom: 20px;
}

.image {
    max-width: 300px;
    max-height: 300px;
    border-radius: 20px;
}
.image-container {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
}

.item-block {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    max-width: 400px;
    flex-direction: column;
    background-color: var(--main-bg-color);
    color: white;
}

.buy-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.price {
    font-size: 20px;
}
.item-img {
    position: relative;
    display: inline-block;
}

.wish-btn {
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
    z-index: 1;
}

.item-img img {
    display: block;
    max-width: 100%;
    height: auto;
}
.text-info {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-bottom: 10px;
}
.item-info {
    display: flex;
    flex-direction: column;
}
.badge {
    background-color: #ed5584;
    border-radius: 10px;
    padding: 2px 5px;
    position: absolute;
    top: -5px;
    left: -7px;
}
@media (max-width: 1350px) {
    .item-container {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 880px) {
    .item-container {
        column-gap: 60px;
        padding-right: 50px;
        padding-left: 50px;
    }
}
@media (max-width: 800px) {
    .item-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 500px) {
    .image-container {
        max-width: 250px;
        max-height: 250px;
    }
    .text-info {
        max-width: 250px;
    }
    .item-container {
        width: 100%;
    }
    .item-block {
        max-width: 270px;
    }
}
