.search-icon {

    border-radius: 30px;
    background-color: #505964;
    padding: 8px 8px 8px 10px;
    cursor: pointer;
}
.search-icon *{

}
.search-field {
    display: flex;
    align-items: center;
}
.search-container {
    display: flex;
    justify-content: flex-end;
}
